.currencyFlag {
    vertical-align: middle;
  }
  fieldset {
    margin-bottom: 20px;
  }
  .itemDetailsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  #cartOutput {
    margin-top: 10px;
  }
  #cartOutput table {
    width: 100%;
  }
  #cartOutput th, #cartOutput td {
    text-align: center;
    vertical-align: middle;
  }
  #cartOutput th:first-child, #cartOutput td:first-child {
    text-align: left;
  }
  #cartOutput th:last-child, #cartOutput td:last-child {
    width: 25%;
  }
  #cartCheckout {
    margin-top: 10px;
    text-align: right;
  }


/* CSS styles for the item details */
#selectOutput {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.2em;
  }
  
  .itemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
  }
  
  .itemImage {
    margin-right: 20px;
  }
  
  .itemImage img {
    max-height: 100px;
    max-width: 100px;
  }
  
  .itemDetails {
    flex: 1;
  }
  
  .reviewsContainer {
    width: 300px;
    margin-left: 20px;
  }
  
  .review {
    border: 1px solid gray;
    padding: 5px;
    margin-bottom: 10px;
  }

  h1 {
    color: purple;
    font-size: 50px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
#dateArea {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    margin-right: 50px;
}
.currencyFlag {
    vertical-align: middle;
}
.itemDetailsGrid {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: repeat(3, 30px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-top: 20px;
}
.cartItemGrid {
    display: grid;
    grid-template-columns: 70px 200px 80px 80px 100px;
    grid-template-rows: 30px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #000;
    padding: 8px;
    
  }